.b-projectTitle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
    padding: 50px;
    background-color: #ffffff;
}
.b-projectTitle_image{
    width: 200px;
    height: 130px;
    margin-bottom: 20px;
    outline: 5px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.b-projectTitle_header{
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    padding-bottom: 14px;
}
.b-projectTitle_prgrf{
    color: #878787;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-bottom: 14px;
}
.b-projectTitle_link{
    color: #81b300;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    float: right;
    text-decoration: none;

}